:root {
  --bg: #fff;
  --accent-bg: #BCCDC0;
  --text: #212121;
  --text-light: #6e748f;
  --border: #283C53;
  --accent: #0A0D14;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #5A8778;
  --disabled: #efefef;
}